body {
    margin: auto;
}

#fotarolo {
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gombok {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.x2 {
    max-width: 400px;
}

.x3 {
    max-width: 500px;
}

.x4 {
    max-width: 700px;
}

.x5 {
    max-width: 850px;
}

.lampa {
    border: 1px solid black;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 5px;
}

.fel {
    background-color: green;
}

.le {
    background-color: red;
}

